@font-face {
  font-family: "Noto Sans KR";
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf)
      format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf)
      format("opentype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf)
      format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf)
      format("opentype");
  font-style: normal;
  font-weight: 900;
}

/* Resets */
body,
h1,
h2,
h3,
h4,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  background: inherit;
  border: none;
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
}

img {
  vertical-align: top;
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 14px;
  font-weight: 700;
}

h3 {
  font-size: 9px;
  font-weight: 500;
}

h4 {
  font-size: 12px;
  font-weight: 500;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* Layouts */
.l_wrapper {
  width: 748px;
  margin: 0 auto;
}

.l_flex-container {
  display: flex;
  gap: 28px;
}

.l_flex-item {
  width: 360px;
  flex-grow: 1;
}

/* Components */
body {
  background-color: #eae8fe;
  font-family: "Noto Sans KR", sans-serif;
}

header {
  text-align: center;
}

header .logo {
  width: 386px;
}

main {
  margin: 67px auto;
}

.vendor {
  background-color: #fff;
  padding: 31px 27px;
}

.vendor-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
}

.vendor-item {
  position: relative;
  width: 94px;
  padding: 11px 13px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.vendor-item.active {
  box-shadow: 0 0 0 3px #6327fe;
}

.vendor-item .sold-out {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.vendor-item.disabled .sold-out {
  clip: auto;
  clip-path: none;
  margin: 0;
  padding: 0;
  overflow: visible;
}

.vendor-item.disabled .sold-out strong {
  display: inline-block;
  font-weight: 900;
  color: white;
  border: none;
  padding: 0 10px 2px;
  border: 4px double #eae8fe;
  transform: rotate(-17.97deg);
  cursor: default;
}

.vendor-item img {
  width: 36px;
  height: 65px;
  margin-bottom: 6px;
}

.vendor-item .item-name {
  margin-bottom: 7px;
}

.vendor-item .item-price {
  width: 70px;
  height: 22px;
  background-color: #6327fe;
  color: #fff;
  font-weight: 500;
  border-radius: 50px;
  font-size: 12px;
  line-height: 22px;
}

.vendor-balance,
.form-deposit,
.vendor-select {
  height: 33px;
  display: flex;
}

.vendor-balance,
.form-deposit {
  margin-bottom: 11px;
}

.vendor-select {
  height: 106px;
}

.balance-state,
.input-deposit,
.selected-lists {
  flex-basis: 200px;
  font-weight: 500;
  border-radius: 5px;
  margin-right: 12px;
}

.balance-state,
.possessed-state {
  background-color: #eae8fe;
  font-size: 14px;
  line-height: 33px;
  padding: 0 10px;
}

.balance-state span,
.possessed-state span {
  float: right;
}

.input-deposit {
  font-size: 13px;
  padding-left: 6px;
  border: 1px solid #bdbdbd;
}

.input-deposit:focus {
  outline: 1px solid #6327fe;
}

.input-deposit::placeholder {
  color: #bdbdbd;
  font-weight: 500;
}

.selected-lists,
.obtained-lists {
  overflow-y: auto;
  padding: 12px;
  background-color: #eae8fe;
  border: 1px solid #bdbdbd;
}

.selected-lists::-webkit-scrollbar,
.obtained-lists::-webkit-scrollbar {
  width: 7px;
}
.selected-lists::-webkit-scrollbar-thumb,
.obtained-lists::-webkit-scrollbar-thumb {
  height: 20%;
  background-color: white;
  border-radius: 50px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.selected-lists::-webkit-scrollbar-track,
.obtained-lists::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 50px;
  box-shadow: inset 0px 0px 5px transparent;
}

.btn-change,
.btn-deposit,
.btn-select {
  flex-basis: 94px;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  padding: 0 9px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

.btn-select {
  background-color: #6327fe;
  color: #fff;
  font-weight: 700;
}

.selected-list,
.obtained-list {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
}

.selected-list:hover {
  cursor: pointer;
}

.selected-list.active {
  box-shadow: 0 0 0 1.5px #6327fe;
}

.selected-list:not(:last-child),
.obtained-list:not(:last-child) {
  margin-bottom: 6px;
}

.selected-list img,
.obtained-list img {
  width: 18px;
  height: 33px;
}

.selected-list .item-name,
.obtained-list .item-name {
  margin-left: 10px;
}

.list-cnt {
  margin-left: auto;
  width: 30px;
  height: 30px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  text-align: center;
  line-height: 27px;
  font-size: 14px;
  font-weight: 500;
}

.possessed {
  background-color: #fff;
  padding: 9px 27px;
  margin-bottom: 20px;
}

.possessed-state {
  font-weight: 500;
  border-radius: 5px;
  line-height: 33px;
}

.obtained {
  background-color: #fff;
  padding: 25px 27px 26px;
}
.obtained h2 {
  text-align: center;
  margin-bottom: 13px;
}

.obtained-lists {
  height: 374px;
  border-radius: 5px;
  margin-bottom: 6px;
}

.obtained h4 {
  text-align: end;
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .l_wrapper {
    width: 360px;
    margin: 0 auto;
    background-color: #fff;
  }

  header .logo {
    width: 166px;
  }

  main {
    margin: 18px auto 0;
  }

  .vendor {
    background-color: #fff;
    padding: 0 27px;
  }

  .l_flex-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
